@import "_reset.scss";
@font-face {
	font-family: "Raleway" ;
	src: url(../fonts/Raleway-Bold.ttf),
	url(../fonts/Raleway-ExtraLight.ttf),
	url(../fonts/Raleway-Light.ttf),
	url(../fonts/Raleway-Medium.ttf)
	url(../fonts/Raleway-Regular.ttf)
	url(../fonts/Raleway-SemiBold.ttf);
}
body{
	height: 100%;
	font-size: 14px;
	color: #000000;
	font-weight: 400;
	font-family: "Raleway", sans-serif;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
}

.container {
	max-width: 980px;
	margin: 0 auto;
}

.title {
	background-color: rgb(175 215 231);
	font-size: 25px;
	font-weight: 500;
	text-transform: uppercase;
	color: blue;
	text-align: center;
	padding: 10px;
}
@media (max-width: 455px){
	.title {
	font-size: 20px;
	font-weight: 500;
	}
}

.header {
		// .header__container
		&__container {}

		// .header__title
		&__title {}
}

.main-unit {
	// .main-unit__container
	&__container {}

	// .main-unit__football
	&__football {
		background: url(../img/fon.jpg);
	}
}

.football {

	// .football__menu
	&__menu {
		float: left;
		width: 25%;
		padding: 20px;
	}

	@media (max-width: 768px){
		&__menu {
			float: none;
			padding: 0;
	}
	}

	// .football__sports
	&__sports {
		font-size: 18px;
		font-weight: 800;
		margin-bottom: 15px;
	}

	@media (max-width: 768px){
		&__sports::after {
			content: "";
			visibility: hidden;
			display: block;
			height: 0;
			clear: both;
	}
	}

	@media (max-width: 768px){
		&__sports {
			float: left;
			padding: 20px;
			margin-bottom: 0;
			width: 25%;
			text-align: center;
	}
	}

	@media (max-width: 455px){
		&__sports {
			float: none;
			padding: 5px;
			text-align: center;
			width: 100%;
	}
	}

	// .football__navigation
	&__navigation {}

	@media (max-width: 768px){
		&__navigation {
			padding: 10px 0;
			width: 75%;
			margin-left: 25%;
	}
	}

	@media (max-width: 455px){
		&__navigation {
			padding: 5px 0;
			width: 100%;
			margin-left: 0;
	}
	}

	// .football__list
	&__list {}

	@media (max-width: 768px){
		&__list::after {
			content: "";
			visibility: hidden;
			display: block;
			height: 0;
			clear: both;
	}
	}

	@media (max-width: 455px){
		&__list {
			margin-left: 20px;
	}
	}

	@media (max-width: 377px){
		&__list {
			margin-left: 10px;
	}
	}

	&__list li {
		list-style: disc;
		color: black;
		margin-left: 20px;
	}

	@media (max-width: 768px){
			&__list li {
				margin-right: 5px;
		}
	}

	// .football__item
	&__item {
		font-size: 15px;
		font-weight: 500;
	}

	&__item a {
		display: block;
	}

	@media (max-width: 768px){
		&__item {
			float: left;
			//display: block;
			padding: 3px 0;
	}
	}

	&__item a:link {
		color: #00f; //не посещенная ссылка
		text-decoration: underline;
	}

	&__item a:visited {
		color: rgb(147, 54, 228); //пользователь уже посетил
	}

	&__item a:hover {
		color: #f00; //наводит курсор на элемент
		text-decoration: none;
	}

	&__item a:active {
			color: #000; //нажатию на кнопку мыши
	}

	// .football__menu-clear
		&__menu-clear {}

	// .football__content
	&__content {
		background: linear-gradient(right, rgba(255, 255, 255, 0.8) 0 100%), url(../img/01.jpg) right repeat-y;
		background-size: 9%;
		margin-left: 25%;
		padding: 10px 10px 10px 20px;
	}

	@media (max-width: 768px){
		&__content {
		margin-left: 0;
		//margin-top: 30px;
	}
	}

	@media (max-width: 455px){
		&__content {
		background-size: 15%;
	}
	}

	@media (max-width: 377px){
		&__content {
		background-size: 20%;
		padding: 10px;
	}
	}

	// .football__title
	&__title {
		text-align: center;
		font-size: 20px;
		font-weight: 800;
		margin-bottom: 15px;
		text-transform: uppercase;
	}

	@media (max-width: 377px){
		&__title {
		margin-bottom: 10px;
	}
	}

	// .football__description
	&__description {
	}

	// .football__image
	&__image {
		width: 280px;
		margin: 0 15px 10px 0;
		float: left;
	}

	@media (max-width: 480px){
		&__image {
		width: 250px;
	}
	}

	@media (max-width: 377px){
		&__image {
		float: none;
		margin-right: 0px;
		width: 100%;
	}
	}

	// .football__text
	&__text {
		font-size: 15px;
		font-weight: 500;
		text-align: justify;
	}

	// .football__text-br
	&__text-br {
		margin-top: 15px;
	}
}

	@media (max-width: 480px){
		.football__text-br {
		margin-top: 10px;
	}
	}

.footer {
	// .footer__container
	&__container {}

	// .footer__text
	&__text {}
}